* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
input,
button,
select,
textarea {
  font-family: inherit;
}

/* главный контейнер */
.container {
  width: 98%;
  max-width: 23rem;
  height: 100dvh;
  margin-top: 0.3rem;
  background-color: #fff;
  gap: 0.5rem;
  position: relative;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  border-radius: 0.5rem;
}

/* Заголовок и дата */
.todo-app {
  background: #fff;
  border-radius: 5rem;
  padding: 0.75rem;
  position: relative;
}

.todo-app h2 {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
}

.todo-app p {
  color: #666;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

/* Поиск */
.todo-app input[type="text"] {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: whitesmoke;
}
.search-wrapper {
  position: relative;
  width: 100%;
}
.search-wrapper i.material-symbols-rounded {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  font-size: 1.8rem;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
  background-color: #ccc;
  border-radius: 10rem;
  padding: 0.25rem;
  gap: 0.25rem;
}

.filter-btn {
  flex: 1;
  background: transparent;
  border: none;
  padding: 8px 8px;
  border-radius: 10rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  gap: 0.25rem;
}

.filter-btn.active {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.filter-btn.active::before {
  content: "✓";
  color: #0f105c;
  font-weight: bold;
}

.todo-list {
  list-style: none;
  margin-bottom: 8rem;
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 0.25rem;
}
.todo-list ::-webkit-scrollbar {
  width: 0.6rem;
}
.todo-list ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.25rem;
}

.task-checkbox {
  margin-right: 0.8rem;
}

.todo-list li {
  background: #fff;
  padding: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.floating-btn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #0f105c;

  color: white;
  border-radius: 0.8rem 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.6rem;
  border: none;
  box-shadow: 0 0.25rem 1.2rem rgba(0, 0, 0, 0.2);
}

.bottom-sheet {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98%;
  margin: 0 auto;
  background: #fff;
  border-radius: 2rem 2rem 0.8rem 0.8rem;
  padding: 20px;
  box-shadow: 0 -2px 1.2rem rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.bottom-sheet.active {
  display: block;
  transform: translateY(0%);
}

.bottom-sheet label {
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}

.actions button {
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  border: none;
}

.actions button[type="submit"] {
  background: #0f105c;
  color: white;
}

.actions button[type="reset"] {
  background: #ddd;
  color: #333;
}
.task-checkbox:checked + .task-text {
  text-decoration: line-through;
  color: #aaa;
}
input {
  border-radius: 0.8rem;
}

.reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.reminder label {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.reminder input[type="checkbox"] {
  transform: scale(1.2);
}
input[type="text"],
input[type="date"],
input[type="time"] {
  font-size: 1.2rem;
  padding: 1rem 3.6rem 1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  height: 4rem;
}

.datetime-wrapper {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

#datetimeDisplay {
  padding: 1rem 4rem 1rem 1.2rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  height: 4rem;
  cursor: pointer;
  margin-bottom: 1.6rem;
}
